{% extends 'base.html' %}
{% load static %}
{% block content %}


    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Jami ishchilar haqida</h3>
          <div class="card-tools">
            <form action="{% url 'staffs' %}" method="GET" class="d-flex">
            <input class="form-control me-2" type="search" name="q" placeholder="Izlash" aria-label="Search">
            <button type="submit" class="btn btn-outline-black"><i class="fas fa-search"></i></button>
                 <button type="button" class="btn btn-tool" title="Collapse">
                <a href="{% url 'staff_data' %}"><i class="fas fa-download"></i></a>
            </button>
            </form>
        </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th style="width: 11%">
                          F.I.SH
                      </th>
                      <th style="width: 11%">
                          Tug'ilgan san
                      </th>
                      <th style="width: 11%">
                          Tel raqami
                      </th>
                      <th>
                          Manzil
                      </th>
                      <th style="width: 11%" class="text-center">
                          Bo'lim
                      </th>
                      <th style="width: 8%" class="text-center">
                          Positsiya
                      </th>
                      <th style="width: 11%" class="text-center">
                          Ishga qabul vaqti
                      </th>
                      <th style="width: 11%" class="text-center">
                          Comment
                      </th>
                      <th style="width: 3%" class="text-center">
                          Status
                      </th>
                      <th style="width: 11%">
                          Taxrirlash
                      </th>
                  </tr>
              </thead>
              <tbody>
              {% for staff in page_obj %}
                  <tr>
                      <td><a href="{% url 'detail_staff' staff.id %}">{{ staff.full_name }}</a></td>
                      <td>{{ staff.b_date}}</td>
                      <td>{{ staff.phone }}</td>
                      <td>{{ staff.address }}</td>
                      <td>{{ staff.department }}</td>
                      <td>{{ staff.position }}</td>
                      <td>{{ staff.date_join }}</td>
                      <td>{{ staff.comment }}</td>
                      <td>{% if staff.status == True %}<snap class="btn-primary btn-sm" > Aktiv </snap>{% else %} <snap class="btn-danger btn-sm" >Ketgan</snap>{% endif %}</td>


                      <td class="project-actions text-right">
                          <span class="btn-group">
                                <a class="btn btn-primary btn-sm" href="{% url 'send_sms' staff_id=staff.id %}">
                                    <i class="fas fa-folder"></i>
                                    Send
                                </a>
                                <a class="btn btn-info btn-sm" href="{% url 'edit_staff' staff_id=staff.id %}">
                                    <i class="fas fa-pencil-alt"></i>
                                    Edit
                                </a>
                            </span>
                      </td>
                  </tr>
               {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    <nav aria-label="...">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="false">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ num }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-disabled="true">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>

      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock content %}